@charset "utf-8";
/* CSS Document *

/*  ###########   Responsive Queries  ############ */

@media screen and (max-width: 1024px) {


}


@media screen and (min-width: 768px) and (max-width: 991px){



}

@media screen and (max-width: 767px) {


}

@media screen and (max-width: 480px) {

}

