@font-face {
  font-family: 'entypo';
  src: url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/entypo.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/entypo.eot') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/entypo.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/entypo.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?5488184#entypo') format('svg');
  }
}
*/
  
 [class^="icon-entypo-"]:before, [class*=" icon-entypo-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-entypo-plus:before { content: '\e816'; } /* '' */
.icon-entypo-minus:before { content: '\e819'; } /* '' */
.icon-entypo-info:before { content: '\e81e'; } /* '' */
.icon-entypo-left-thin:before { content: '\e88c'; } /* '' */
.icon-entypo-up-thin:before { content: '\e88e'; } /* '' */
.icon-entypo-right-thin:before { content: '\e88d'; } /* '' */
.icon-entypo-down-thin:before { content: '\e88b'; } /* '' */
.icon-entypo-level-up:before { content: '\e893'; } /* '' */
.icon-entypo-level-down:before { content: '\e892'; } /* '' */
.icon-entypo-switch:before { content: '\e896'; } /* '' */
.icon-entypo-infinity:before { content: '\e8c2'; } /* '' */
.icon-entypo-plus-squared:before { content: '\e818'; } /* '' */
.icon-entypo-minus-squared:before { content: '\e81b'; } /* '' */
.icon-entypo-home:before { content: '\e821'; } /* '' */
.icon-entypo-keyboard:before { content: '\e83a'; } /* '' */
.icon-entypo-erase:before { content: '\e8c3'; } /* '' */
.icon-entypo-pause:before { content: '\e899'; } /* '' */
.icon-entypo-fast-forward:before { content: '\e89d'; } /* '' */
.icon-entypo-fast-backward:before { content: '\e89e'; } /* '' */
.icon-entypo-to-end:before { content: '\e89b'; } /* '' */
.icon-entypo-to-start:before { content: '\e89c'; } /* '' */
.icon-entypo-hourglass:before { content: '\e863'; } /* '' */
.icon-entypo-stop:before { content: '\e898'; } /* '' */
.icon-entypo-up-dir:before { content: '\e886'; } /* '' */
.icon-entypo-play:before { content: '\e897'; } /* '' */
.icon-entypo-right-dir:before { content: '\e885'; } /* '' */
.icon-entypo-down-dir:before { content: '\e883'; } /* '' */
.icon-entypo-left-dir:before { content: '\e884'; } /* '' */
.icon-entypo-adjust:before { content: '\e867'; } /* '' */
.icon-entypo-cloud:before { content: '\e8b2'; } /* '' */
.icon-entypo-star:before { content: '\e808'; } /* '' */
.icon-entypo-star-empty:before { content: '\e809'; } /* '' */
.icon-entypo-cup:before { content: '\e846'; } /* '' */
.icon-entypo-menu:before { content: '\e811'; } /* '' */
.icon-entypo-moon:before { content: '\e8b5'; } /* '' */
.icon-entypo-heart-empty:before { content: '\e807'; } /* '' */
.icon-entypo-heart:before { content: '\e806'; } /* '' */
.icon-entypo-note:before { content: '\e800'; } /* '' */
.icon-entypo-note-beamed:before { content: '\e801'; } /* '' */
.icon-entypo-layout:before { content: '\e810'; } /* '' */
.icon-entypo-flag:before { content: '\e82a'; } /* '' */
.icon-entypo-tools:before { content: '\e856'; } /* '' */
.icon-entypo-cog:before { content: '\e855'; } /* '' */
.icon-entypo-attention:before { content: '\e83e'; } /* '' */
.icon-entypo-flash:before { content: '\e8b4'; } /* '' */
.icon-entypo-record:before { content: '\e89a'; } /* '' */
.icon-entypo-cloud-thunder:before { content: '\e8b3'; } /* '' */
.icon-entypo-tape:before { content: '\e8c8'; } /* '' */
.icon-entypo-flight:before { content: '\e8b6'; } /* '' */
.icon-entypo-mail:before { content: '\e805'; } /* '' */
.icon-entypo-pencil:before { content: '\e836'; } /* '' */
.icon-entypo-feather:before { content: '\e837'; } /* '' */
.icon-entypo-check:before { content: '\e812'; } /* '' */
.icon-entypo-cancel:before { content: '\e813'; } /* '' */
.icon-entypo-cancel-circled:before { content: '\e814'; } /* '' */
.icon-entypo-cancel-squared:before { content: '\e815'; } /* '' */
.icon-entypo-help:before { content: '\e81c'; } /* '' */
.icon-entypo-quote:before { content: '\e833'; } /* '' */
.icon-entypo-plus-circled:before { content: '\e817'; } /* '' */
.icon-entypo-minus-circled:before { content: '\e81a'; } /* '' */
.icon-entypo-right:before { content: '\e881'; } /* '' */
.icon-entypo-direction:before { content: '\e844'; } /* '' */
.icon-entypo-forward:before { content: '\e832'; } /* '' */
.icon-entypo-ccw:before { content: '\e88f'; } /* '' */
.icon-entypo-cw:before { content: '\e890'; } /* '' */
.icon-entypo-left:before { content: '\e880'; } /* '' */
.icon-entypo-up:before { content: '\e882'; } /* '' */
.icon-entypo-down:before { content: '\e87f'; } /* '' */
.icon-entypo-list-add:before { content: '\e8a6'; } /* '' */
.icon-entypo-list:before { content: '\e8a5'; } /* '' */
.icon-entypo-left-bold:before { content: '\e888'; } /* '' */
.icon-entypo-right-bold:before { content: '\e889'; } /* '' */
.icon-entypo-up-bold:before { content: '\e88a'; } /* '' */
.icon-entypo-down-bold:before { content: '\e887'; } /* '' */
.icon-entypo-user-add:before { content: '\e80c'; } /* '' */
.icon-entypo-help-circled:before { content: '\e81d'; } /* '' */
.icon-entypo-info-circled:before { content: '\e81f'; } /* '' */
.icon-entypo-eye:before { content: '\e826'; } /* '' */
.icon-entypo-tag:before { content: '\e827'; } /* '' */
.icon-entypo-upload-cloud:before { content: '\e82f'; } /* '' */
.icon-entypo-reply:before { content: '\e830'; } /* '' */
.icon-entypo-reply-all:before { content: '\e831'; } /* '' */
.icon-entypo-code:before { content: '\e834'; } /* '' */
.icon-entypo-export:before { content: '\e835'; } /* '' */
.icon-entypo-print:before { content: '\e838'; } /* '' */
.icon-entypo-retweet:before { content: '\e839'; } /* '' */
.icon-entypo-comment:before { content: '\e83b'; } /* '' */
.icon-entypo-chat:before { content: '\e83c'; } /* '' */
.icon-entypo-vcard:before { content: '\e840'; } /* '' */
.icon-entypo-address:before { content: '\e841'; } /* '' */
.icon-entypo-location:before { content: '\e842'; } /* '' */
.icon-entypo-map:before { content: '\e843'; } /* '' */
.icon-entypo-compass:before { content: '\e845'; } /* '' */
.icon-entypo-trash:before { content: '\e847'; } /* '' */
.icon-entypo-doc:before { content: '\e848'; } /* '' */
.icon-entypo-doc-text-inv:before { content: '\e84c'; } /* '' */
.icon-entypo-docs:before { content: '\e849'; } /* '' */
.icon-entypo-doc-landscape:before { content: '\e84a'; } /* '' */
.icon-entypo-archive:before { content: '\e851'; } /* '' */
.icon-entypo-rss:before { content: '\e853'; } /* '' */
.icon-entypo-share:before { content: '\e857'; } /* '' */
.icon-entypo-basket:before { content: '\e859'; } /* '' */
.icon-entypo-shareable:before { content: '\e858'; } /* '' */
.icon-entypo-login:before { content: '\e85c'; } /* '' */
.icon-entypo-logout:before { content: '\e85d'; } /* '' */
.icon-entypo-volume:before { content: '\e861'; } /* '' */
.icon-entypo-resize-full:before { content: '\e869'; } /* '' */
.icon-entypo-resize-small:before { content: '\e86a'; } /* '' */
.icon-entypo-popup:before { content: '\e86b'; } /* '' */
.icon-entypo-publish:before { content: '\e86c'; } /* '' */
.icon-entypo-window:before { content: '\e86d'; } /* '' */
.icon-entypo-arrow-combo:before { content: '\e86e'; } /* '' */
.icon-entypo-chart-pie:before { content: '\e8c4'; } /* '' */
.icon-entypo-language:before { content: '\e8ca'; } /* '' */
.icon-entypo-air:before { content: '\e8ce'; } /* '' */
.icon-entypo-database:before { content: '\e8d3'; } /* '' */
.icon-entypo-drive:before { content: '\e8d4'; } /* '' */
.icon-entypo-bucket:before { content: '\e8d5'; } /* '' */
.icon-entypo-thermometer:before { content: '\e8d6'; } /* '' */
.icon-entypo-down-circled:before { content: '\e86f'; } /* '' */
.icon-entypo-left-circled:before { content: '\e870'; } /* '' */
.icon-entypo-right-circled:before { content: '\e871'; } /* '' */
.icon-entypo-up-circled:before { content: '\e872'; } /* '' */
.icon-entypo-down-open:before { content: '\e873'; } /* '' */
.icon-entypo-left-open:before { content: '\e874'; } /* '' */
.icon-entypo-right-open:before { content: '\e875'; } /* '' */
.icon-entypo-up-open:before { content: '\e876'; } /* '' */
.icon-entypo-down-open-mini:before { content: '\e877'; } /* '' */
.icon-entypo-left-open-mini:before { content: '\e878'; } /* '' */
.icon-entypo-right-open-mini:before { content: '\e879'; } /* '' */
.icon-entypo-up-open-mini:before { content: '\e87a'; } /* '' */
.icon-entypo-down-open-big:before { content: '\e87b'; } /* '' */
.icon-entypo-left-open-big:before { content: '\e87c'; } /* '' */
.icon-entypo-right-open-big:before { content: '\e87d'; } /* '' */
.icon-entypo-up-open-big:before { content: '\e87e'; } /* '' */
.icon-entypo-progress-0:before { content: '\e89f'; } /* '' */
.icon-entypo-progress-1:before { content: '\e8a0'; } /* '' */
.icon-entypo-progress-2:before { content: '\e8a1'; } /* '' */
.icon-entypo-progress-3:before { content: '\e8a2'; } /* '' */
.icon-entypo-back-in-time:before { content: '\e8aa'; } /* '' */
.icon-entypo-network:before { content: '\e8ad'; } /* '' */
.icon-entypo-inbox:before { content: '\e8af'; } /* '' */
.icon-entypo-install:before { content: '\e8b0'; } /* '' */
.icon-entypo-lifebuoy:before { content: '\e8b9'; } /* '' */
.icon-entypo-mouse:before { content: '\e8ba'; } /* '' */
.icon-entypo-dot:before { content: '\e8bd'; } /* '' */
.icon-entypo-dot-2:before { content: '\e8be'; } /* '' */
.icon-entypo-dot-3:before { content: '\e8bf'; } /* '' */
.icon-entypo-suitcase:before { content: '\e8bc'; } /* '' */
.icon-entypo-flow-cascade:before { content: '\e8d8'; } /* '' */
.icon-entypo-flow-branch:before { content: '\e8d9'; } /* '' */
.icon-entypo-flow-tree:before { content: '\e8da'; } /* '' */
.icon-entypo-flow-line:before { content: '\e8db'; } /* '' */
.icon-entypo-flow-parallel:before { content: '\e8dc'; } /* '' */
.icon-entypo-brush:before { content: '\e8c0'; } /* '' */
.icon-entypo-paper-plane:before { content: '\e8b7'; } /* '' */
.icon-entypo-magnet:before { content: '\e8c1'; } /* '' */
.icon-entypo-gauge:before { content: '\e8de'; } /* '' */
.icon-entypo-traffic-cone:before { content: '\e8df'; } /* '' */
.icon-entypo-cc:before { content: '\e8e0'; } /* '' */
.icon-entypo-cc-by:before { content: '\e8e1'; } /* '' */
.icon-entypo-cc-nc:before { content: '\e8e2'; } /* '' */
.icon-entypo-cc-nc-eu:before { content: '\e8e3'; } /* '' */
.icon-entypo-cc-nc-jp:before { content: '\e8e4'; } /* '' */
.icon-entypo-cc-sa:before { content: '\e8e5'; } /* '' */
.icon-entypo-cc-nd:before { content: '\e8e6'; } /* '' */
.icon-entypo-cc-pd:before { content: '\e8e7'; } /* '' */
.icon-entypo-cc-zero:before { content: '\e8e8'; } /* '' */
.icon-entypo-cc-share:before { content: '\e8e9'; } /* '' */
.icon-entypo-picture:before { content: '\e80e'; } /* '' */
.icon-entypo-globe:before { content: '\e8b1'; } /* '' */
.icon-entypo-leaf:before { content: '\e8b8'; } /* '' */
.icon-entypo-graduation-cap:before { content: '\e8c9'; } /* '' */
.icon-entypo-mic:before { content: '\e85e'; } /* '' */
.icon-entypo-palette:before { content: '\e8a4'; } /* '' */
.icon-entypo-ticket:before { content: '\e8cb'; } /* '' */
.icon-entypo-video:before { content: '\e80d'; } /* '' */
.icon-entypo-target:before { content: '\e8a3'; } /* '' */
.icon-entypo-music:before { content: '\e802'; } /* '' */
.icon-entypo-trophy:before { content: '\e8a8'; } /* '' */
.icon-entypo-thumbs-up:before { content: '\e82b'; } /* '' */
.icon-entypo-thumbs-down:before { content: '\e82c'; } /* '' */
.icon-entypo-bag:before { content: '\e85a'; } /* '' */
.icon-entypo-user:before { content: '\e80a'; } /* '' */
.icon-entypo-users:before { content: '\e80b'; } /* '' */
.icon-entypo-lamp:before { content: '\e864'; } /* '' */
.icon-entypo-alert:before { content: '\e83f'; } /* '' */
.icon-entypo-water:before { content: '\e8cc'; } /* '' */
.icon-entypo-droplet:before { content: '\e8cd'; } /* '' */
.icon-entypo-credit-card:before { content: '\e8cf'; } /* '' */
.icon-entypo-monitor:before { content: '\e8ab'; } /* '' */
.icon-entypo-briefcase:before { content: '\e8bb'; } /* '' */
.icon-entypo-floppy:before { content: '\e8d0'; } /* '' */
.icon-entypo-cd:before { content: '\e8ae'; } /* '' */
.icon-entypo-folder:before { content: '\e850'; } /* '' */
.icon-entypo-doc-text:before { content: '\e84b'; } /* '' */
.icon-entypo-calendar:before { content: '\e85b'; } /* '' */
.icon-entypo-chart-line:before { content: '\e8c5'; } /* '' */
.icon-entypo-chart-bar:before { content: '\e8c6'; } /* '' */
.icon-entypo-clipboard:before { content: '\e8d1'; } /* '' */
.icon-entypo-attach:before { content: '\e823'; } /* '' */
.icon-entypo-bookmarks:before { content: '\e829'; } /* '' */
.icon-entypo-book:before { content: '\e84f'; } /* '' */
.icon-entypo-book-open:before { content: '\e84e'; } /* '' */
.icon-entypo-phone:before { content: '\e854'; } /* '' */
.icon-entypo-megaphone:before { content: '\e8d2'; } /* '' */
.icon-entypo-upload:before { content: '\e82e'; } /* '' */
.icon-entypo-download:before { content: '\e82d'; } /* '' */
.icon-entypo-box:before { content: '\e852'; } /* '' */
.icon-entypo-newspaper:before { content: '\e84d'; } /* '' */
.icon-entypo-mobile:before { content: '\e8ac'; } /* '' */
.icon-entypo-signal:before { content: '\e8a7'; } /* '' */
.icon-entypo-camera:before { content: '\e80f'; } /* '' */
.icon-entypo-shuffle:before { content: '\e894'; } /* '' */
.icon-entypo-loop:before { content: '\e895'; } /* '' */
.icon-entypo-arrows-ccw:before { content: '\e891'; } /* '' */
.icon-entypo-light-down:before { content: '\e865'; } /* '' */
.icon-entypo-light-up:before { content: '\e866'; } /* '' */
.icon-entypo-mute:before { content: '\e85f'; } /* '' */
.icon-entypo-sound:before { content: '\e860'; } /* '' */
.icon-entypo-battery:before { content: '\e8a9'; } /* '' */
.icon-entypo-search:before { content: '\e803'; } /* '' */
.icon-entypo-key:before { content: '\e8d7'; } /* '' */
.icon-entypo-lock:before { content: '\e824'; } /* '' */
.icon-entypo-lock-open:before { content: '\e825'; } /* '' */
.icon-entypo-bell:before { content: '\e83d'; } /* '' */
.icon-entypo-bookmark:before { content: '\e828'; } /* '' */
.icon-entypo-link:before { content: '\e822'; } /* '' */
.icon-entypo-back:before { content: '\e820'; } /* '' */
.icon-entypo-flashlight:before { content: '\e804'; } /* '' */
.icon-entypo-chart-area:before { content: '\e8c7'; } /* '' */
.icon-entypo-clock:before { content: '\e862'; } /* '' */
.icon-entypo-rocket:before { content: '\e8dd'; } /* '' */
.icon-entypo-block:before { content: '\e868'; } /* '' */