@font-face {
  font-family: 'zocial';
  src: url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/zocial.eot?97035448');
  src: url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/zocial.eot?97035448#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/zocial.woff?97035448') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/content.zepo.in/blog-fonts/zocial.svg?97035448#zocial') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zocial';
    src: url('../font/zocial.svg?97035448#zocial') format('svg');
  }
}
*/

 [class^="icon-social-"]:before, [class*=" icon-social-"]:before {
  font-family: "zocial";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  
 
  /* Uncomment for 3D effect */
   /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-social-duckduckgo:before { content: '\e866'; } /* '' */
.icon-social-aim:before { content: '\e800'; } /* '' */
.icon-social-delicious:before { content: '\e801'; } /* '' */
.icon-social-paypal:before { content: '\e802'; } /* '' */
.icon-social-flattr:before { content: '\e803'; } /* '' */
.icon-social-android:before { content: '\e804'; } /* '' */
.icon-social-eventful:before { content: '\e805'; } /* '' */
.icon-social-smashmag:before { content: '\e806'; } /* '' */
.icon-social-gplus:before { content: '\e807'; } /* '' */
.icon-social-wikipedia:before { content: '\e808'; } /* '' */
.icon-social-lanyrd:before { content: '\e809'; } /* '' */
.icon-social-calendar:before { content: '\e80a'; } /* '' */
.icon-social-stumbleupon:before { content: '\e80b'; } /* '' */
.icon-social-fivehundredpx:before { content: '\e80c'; } /* '' */
.icon-social-pinterest:before { content: '\e80d'; } /* '' */
.icon-social-bitcoin:before { content: '\e80e'; } /* '' */
.icon-social-w3c:before { content: '\e80f'; } /* '' */
.icon-social-foursquare:before { content: '\e810'; } /* '' */
.icon-social-html5:before { content: '\e811'; } /* '' */
.icon-social-ie:before { content: '\e812'; } /* '' */
.icon-social-call:before { content: '\e813'; } /* '' */
.icon-social-grooveshark:before { content: '\e814'; } /* '' */
.icon-social-ninetyninedesigns:before { content: '\e815'; } /* '' */
.icon-social-forrst:before { content: '\e816'; } /* '' */
.icon-social-digg:before { content: '\e817'; } /* '' */
.icon-social-spotify:before { content: '\e818'; } /* '' */
.icon-social-reddit:before { content: '\e819'; } /* '' */
.icon-social-guest:before { content: '\e81a'; } /* '' */
.icon-social-gowalla:before { content: '\e81b'; } /* '' */
.icon-social-appstore:before { content: '\e81c'; } /* '' */
.icon-social-blogger:before { content: '\e81d'; } /* '' */
.icon-social-cc:before { content: '\e81e'; } /* '' */
.icon-social-dribbble:before { content: '\e81f'; } /* '' */
.icon-social-evernote:before { content: '\e820'; } /* '' */
.icon-social-flickr:before { content: '\e821'; } /* '' */
.icon-social-google:before { content: '\e822'; } /* '' */
.icon-social-viadeo:before { content: '\e823'; } /* '' */
.icon-social-instapaper:before { content: '\e824'; } /* '' */
.icon-social-weibo:before { content: '\e825'; } /* '' */
.icon-social-klout:before { content: '\e826'; } /* '' */
.icon-social-linkedin:before { content: '\e827'; } /* '' */
.icon-social-meetup:before { content: '\e828'; } /* '' */
.icon-social-vk:before { content: '\e829'; } /* '' */
.icon-social-plancast:before { content: '\e82a'; } /* '' */
.icon-social-disqus:before { content: '\e82b'; } /* '' */
.icon-social-rss:before { content: '\e82c'; } /* '' */
.icon-social-skype:before { content: '\e82d'; } /* '' */
.icon-social-twitter:before { content: '\e82e'; } /* '' */
.icon-social-youtube:before { content: '\e82f'; } /* '' */
.icon-social-vimeo:before { content: '\e830'; } /* '' */
.icon-social-windows:before { content: '\e831'; } /* '' */
.icon-social-xing:before { content: '\e832'; } /* '' */
.icon-social-yahoo:before { content: '\e833'; } /* '' */
.icon-social-chrome:before { content: '\e834'; } /* '' */
.icon-social-email:before { content: '\e835'; } /* '' */
.icon-social-macstore:before { content: '\e836'; } /* '' */
.icon-social-myspace:before { content: '\e837'; } /* '' */
.icon-social-podcast:before { content: '\e838'; } /* '' */
.icon-social-amazon:before { content: '\e839'; } /* '' */
.icon-social-steam:before { content: '\e83a'; } /* '' */
.icon-social-cloudapp:before { content: '\e83b'; } /* '' */
.icon-social-dropbox:before { content: '\e83c'; } /* '' */
.icon-social-ebay:before { content: '\e83d'; } /* '' */
.icon-social-facebook:before { content: '\e83e'; } /* '' */
.icon-social-github:before { content: '\e83f'; } /* '' */
.icon-social-googleplay:before { content: '\e841'; } /* '' */
.icon-social-itunes:before { content: '\e842'; } /* '' */
.icon-social-plurk:before { content: '\e843'; } /* '' */
.icon-social-songkick:before { content: '\e844'; } /* '' */
.icon-social-lastfm:before { content: '\e845'; } /* '' */
.icon-social-gmail:before { content: '\e846'; } /* '' */
.icon-social-pinboard:before { content: '\e847'; } /* '' */
.icon-social-openid:before { content: '\e848'; } /* '' */
.icon-social-quora:before { content: '\e849'; } /* '' */
.icon-social-soundcloud:before { content: '\e84a'; } /* '' */
.icon-social-tumblr:before { content: '\e84b'; } /* '' */
.icon-social-eventasaurus:before { content: '\e84c'; } /* '' */
.icon-social-wordpress:before { content: '\e84d'; } /* '' */
.icon-social-yelp:before { content: '\e84e'; } /* '' */
.icon-social-intensedebate:before { content: '\e84f'; } /* '' */
.icon-social-eventbrite:before { content: '\e850'; } /* '' */
.icon-social-scribd:before { content: '\e851'; } /* '' */
.icon-social-posterous:before { content: '\e852'; } /* '' */
.icon-social-stripe:before { content: '\e853'; } /* '' */
.icon-social-opentable:before { content: '\e854'; } /* '' */
.icon-social-cart:before { content: '\e855'; } /* '' */
.icon-social-print:before { content: '\e856'; } /* '' */
.icon-social-angellist:before { content: '\e857'; } /* '' */
.icon-social-instagram:before { content: '\e858'; } /* '' */
.icon-social-dwolla:before { content: '\e859'; } /* '' */
.icon-social-appnet:before { content: '\e85a'; } /* '' */
.icon-social-statusnet:before { content: '\e85b'; } /* '' */
.icon-social-acrobat:before { content: '\e85c'; } /* '' */
.icon-social-drupal:before { content: '\e85d'; } /* '' */
.icon-social-buffer:before { content: '\e85e'; } /* '' */
.icon-social-pocket:before { content: '\e85f'; } /* '' */
.icon-social-github-circled:before { content: '\e840'; } /* '' */
.icon-social-bitbucket:before { content: '\e860'; } /* '' */
.icon-social-lego:before { content: '\e861'; } /* '' */
.icon-social-login:before { content: '\e862'; } /* '' */
.icon-social-stackoverflow:before { content: '\e863'; } /* '' */
.icon-social-hackernews:before { content: '\e864'; } /* '' */
.icon-social-lkdto:before { content: '\e865'; } /* '' */