<form action="process.php" method="POST" role="form" class="form form--contact-us" sixth="">
									<div class="field double" sixth=""><label for="name" class="required" seven="" sixth=""><input name="name" id="name" required="" type="text" seven=""> <span class="label-txt" seven="">Name</span>
											</label>
												<label for="email" class="required" seven="" sixth=""><input name="email" id="email" required="" type="email" seven=""> <span class="label-txt" seven="">Email</span>
											</label>
									</div>
									<div class="field double" sixth="">
										<label for="Phone" class="required" seven="" sixth=""><input name="contact_number" id="Phone" required="" type="tel" seven=""> <span class="label-txt" seven="">Phone</span></label>
										<label for="Town__c" class="select required" seven="" sixth="">
											<select aria-label="Town__c" name="city" id="Town__c" required="" seven="">
												<option disabled="" hidden="" selected="" seven="">Select your city*</option>
												<optgroup label="United Kingdom" seven="">
													<option value="basildon" seven="">
														Basildon
													</option>
													<option value="birmingham" seven="">
														Birmingham
													</option>
													<option value="blackpool" seven="">
														Blackpool
													</option>
													<option value="bournemouth" seven="">
														Bournemouth
													</option>
													<option value="brighton" seven="">
														Brighton
													</option>
													<option value="bristol" seven="">
														Bristol
													</option>
													<option value="cambridge" seven="">
														Cambridge
													</option>
													<option value="cardiff" seven="">
														Cardiff
													</option>
													<option value="chesterfield" seven="">
														Chesterfield
													</option>
													<option value="darlington" seven="">
														Darlington
													</option>
													<option value="derby" seven="">
														Derby
													</option>
													<option value="exeter" seven="">
														Exeter
													</option>
													<option value="huddersfield" seven="">
														Huddersfield
													</option>
													<option value="hull" seven="">
														Hull
													</option>
													<option value="leeds" seven="">
														Leeds
													</option>
													<option value="leicester" seven="">
														Leicester
													</option>
													<option value="liverpool" seven="">
														Liverpool
													</option>
													<option value="london" seven="">
														London
													</option>
													<option value="manchester" seven="">
														Manchester
													</option>
													<option value="milton-keynes" seven="">
														Milton-Keynes
													</option>
													<option value="newcastle" seven="">
														Newcastle-Gateshead
													</option>
													<option value="northampton" seven="">
														Northampton
													</option>
													<option value="nottingham" seven="">
														Nottingham
													</option>
													<option value="oxford" seven="">
														Oxford
													</option>
													<option value="plymouth" seven="">
														Plymouth
													</option>
													<option value="reading" seven="">
														Reading
													</option>
													<option value="rotherham" seven="">
														Rotherham
													</option>
													<option value="sheffield" seven="">
														Sheffield/Doncaster
													</option>
													<option value="south_shields" seven="">
														South Shields
													</option>
													<option value="southampton" seven="">
														Southampton
													</option>
													<option value="sunderland" seven="">
														Sunderland
													</option>
													<option value="swansea" seven="">
														Swansea
													</option>
													<option value="teesside" seven="">
														Teesside
													</option>
													<option value="wakefield" seven="">
														Wakefield
													</option>
													<option value="warrington" seven="">
														Warrington
													</option>
												</optgroup>
												<optgroup label="Spain" seven="">
													<option value="barcelona" seven="">
														Barcelona
													</option>
													<option value="madrid" seven="">
														Madrid
													</option>
												</optgroup>
												<optgroup label="France" seven="">
													<option value="aix-en-provence" seven="">
														Aix-en-Provence
													</option>
													<option value="amiens" seven="">
														Amiens
													</option>
													<option value="Annecy" seven="">
														Annecy
													</option>
													<option value="Aulnay-sous-Bois" seven="">
														Aulnay-sous-Bois
													</option>
													<option value="bordeaux" seven="">
														Bordeaux
													</option>
													<option value="caen" seven="">
														Caen
													</option>
													<option value="calais" seven="">
														Calais
													</option>
													<option value="clermont-Ferrand" seven="">
														Clermont-Ferrand
													</option>
													<option value="dijon" seven="">
														Dijon
													</option>
													<option value="Epinay-sur-Seine" seven="">
														Epinay-sur-Seine
													</option>
													<option value="evry" seven="">
														Evry
													</option>
													<option value="grenoble" seven="">
														Grenoble
													</option>
													<option value="lehavre" seven="">
														Le Havre
													</option>
													<option value="lille" seven="">
														Lille
													</option>
													<option value="limoges" seven="">
														Limoges
													</option>
													<option value="lyon" seven="">
														Lyon
													</option>
													<option value="marseille" seven="">
														Marseille
													</option>
													<option value="meaux" seven="">
														Meaux
													</option>
													<option value="melun" seven="">
														Melun
													</option>
													<option value="merignac" seven="">
														Merignac
													</option>
													<option value="metz" seven="">
														Metz
													</option>
													<option value="montpellier" seven="">
														Montpellier
													</option>
													<option value="Mulhouse" seven="">
														Mulhouse
													</option>
													<option value="nancy" seven="">
														Nancy
													</option>
													<option value="nantes" seven="">
														Nantes
													</option>
													<option value="nice" seven="">
														Nice
													</option>
													<option value="noisy-le-Grand" seven="">
														Noisy-le-Grand
													</option>
													<option value="nimes" seven="">
														Nîmes
													</option>
													<option value="orleans" seven="">
														Orléans
													</option>
													<option value="paris" seven="">
														Paris
													</option>
													<option value="reims" seven="">
														Reims
													</option>
													<option value="rennes" seven="">
														Rennes
													</option>
													<option value="Rosny-sous-Bois" seven="">
														Rosny-sous-Bois
													</option>
													<option value="rouen" seven="">
														Rouen
													</option>
													<option value="saint-etienne" seven="">
														Saint-Etienne
													</option>
													<option value="strasbourg" seven="">
														Strasbourg
													</option>
													<option value="torcy" seven="">
														Torcy
													</option>
													<option value="Toulon" seven="">
														Toulon
													</option>
													<option value="toulouse" seven="">
														Toulouse
													</option>
													<option value="tours" seven="">
														Tours
													</option>
													<option value="versailles" seven="">
														Versailles
													</option>
												</optgroup>
												<optgroup label="Other" seven="">
													<option value="other" seven="">
														Other
													</option>
												</optgroup>
											</select>
										</label>
									</div>
									<div class="field" sixth=""><label for="If_town_other__c" class="toggled" seven="" sixth=""><input name="If_town_other__c" id="If_town_other__c" type="text" seven=""> <span class="label-txt" seven="">Other</span></label></div>
									<div class="field" sixth=""><label for="company" class="required" seven="" sixth=""><input name="company_name" id="company" required="" type="text" seven=""> <span class="label-txt" seven="">Company
												name</span></label>
									</div>
									<div class="field" sixth="">
										<label for="Dayly__c" class="select" seven="" sixth="">
											<select aria-label="Dayly__c" name="interested_in" id="Dayly__c" seven="">
												<option disabled="" hidden="" selected="" seven="">Interested in</option>
												<option value="Ecommerce_Courier" seven="">
													Ecommerce Courier
												</option>
												<option value="Part_Truck_Load" seven="">
													Part Truck Load
												</option>
											</select>
										</label>
									</div>
									<div class="field interest" sixth="" id="Ecommerce_Courier" style="display: none;">
										<label for="Dayly__c" class="select" seven="" sixth="">
											<select aria-label="Dayly__c" name="number_of_shipments" id="Dayly__c" seven="">
											<option disabled="" hidden="" selected="" seven=""> No. of Shipments</option>
												<option value="Between 0 and 5 deliveries / day" seven="">
												less than 500 per month
												</option>
												<option value="Between 5 and 10 deliveries / day" seven="">
												500-5000 per month
												</option>
												<option value="Between 10 and 50 deliveries / day" seven="">
												5000 &amp; above
												</option>
											</select>
										</label>
									</div>
									<div class="field interest" sixth="" id="Part_Truck_Load" style="display: flex;">
										<label for="Dayly__c" class="select" seven="" sixth="">
											<select aria-label="Dayly__c" name="transport_bill_monthly" id="Dayly__c" seven="">
											<option disabled="" hidden="" selected="" seven="">Transport bill per month</option>
												<option value="Between 0 and 5 deliveries / day" seven="">
												Less than 1 Lac per month
												</option>
												<option value="Between 5 and 10 deliveries / day" seven="">
												1 Lac to 10 lacs per month
												</option>
												<option value="Between 10 and 50 deliveries / day" seven="">
												10 Lac &amp; Above per month
												</option>
											</select>
										</label>
									</div>
									<!-- <div class="field" sixth><label for="description" seven sixth><textarea name="description"
												id="description" seven></textarea> <span class="label-txt" seven>Description</span></label>
									</div> -->
									<div class="field check" sixth="">
										<label sixth="">
											<input type="checkbox" required="" sixth="">
											<div sixth="">
												<p>By submitting this form I confirm that I have read and understood the <a href="/privacy/" target="_blank" rel="noopener" title="Privacy Policy">Privacy
														Policy</a> and that the Stuart sales team can reach out to me by using the
													information I provided above.</p>
											</div>
										</label>
									</div>
									<div class="grecaptcha-badge" sixth=""></div>
									<div class="wrapper-submit" sixth="">
										<button type="submit" class="btn huge full-width btn-arrow" sixth="">
											<span sixth="">Submit</span>
											<svg class="icon icon-arrow-right" sixth="">
												<use xlink:href="#icon-arrow-right" sixth=""></use>
											</svg>
										</button>
									</div>
									<!---->
								</form>
