/* -----------------------------------------------------------------------------
 * Modules
 * -------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
 * TinyMCE
 * -------------------------------------------------------------------------- */
.mceButton.mce_vw_shortcodes .mceIcon,
.mce-vw_shortcodes .mce-ico {
  background: url(../images/shortcode-icon.png); }

/* -----------------------------------------------------------------------------
 * Field
 * -------------------------------------------------------------------------- */
.vwsce-field {
  padding-top: 20px;
  padding-bottom: 20px; }
  .vwsce-field + .vwsce-field {
    border-top: 1px solid #eee; }
  .vwsce-field.clearfix:before, .vwsce-field.clearfix:after {
    content: " ";
    display: table; }
  .vwsce-field.clearfix:after {
    clear: both; }

.vwsce-field-title {
  font-weight: bold; }

.vwsce-field-description {
  font-size: 0.9em;
  color: #666; }

.vwsce-field-body input[type=text], .vwsce-field-body textarea, .vwsce-field-body select {
  width: 100%; }
.vwsce-field-body input[type=text].color-picker {
  width: 80px; }
.vwsce-field-body textarea {
  height: 10em; }

.vwsce-field.one-column-field .vwsce-field-description {
  margin-bottom: 15px; }

.vwsce-field.two-column-field .vwsce-field-body, .vwsce-field.two-column-field .vwsce-field-description-container {
  width: 49%; }
.vwsce-field.two-column-field .vwsce-field-description-container {
  float: right; }

/* -----------------------------------------------------------------------------
 * Modal Dialog
 * -------------------------------------------------------------------------- */
.modal-title {
  font-size: 16px; }

/* -----------------------------------------------------------------------------
 * Icon Field
 * -------------------------------------------------------------------------- */
.vwsce-field-icon {
  /* empty */ }

.vwsce-available-icons {
  height: 275px;
  overflow-y: scroll;
  padding-left: 1px;
  border: 1px solid #ddd;
  margin-left: -1px; }
  .vwsce-available-icons i {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    margin-left: -2px;
    margin-top: -2px;
    font-size: 14px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
    .vwsce-available-icons i:hover {
      color: #ff7700;
      z-index: 1;
      -webkit-backface-visibility: hidden;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
      .vwsce-available-icons i:hover:before {
        font-size: 1.2em; }
  .vwsce-available-icons .selected-icon, .vwsce-available-icons .selected-icon:hover {
    color: #ffffff;
    background-color: #1d7bcb; }

/* -----------------------------------------------------------------------------
 * Image Field
 * -------------------------------------------------------------------------- */
.vwsce-field-image > img {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  max-width: 90%;
  max-height: 400px;
  margin-top: 15px; }
.vwsce-field-image .vwsce-insert-media {
  margin-right: 5px; }

/* -----------------------------------------------------------------------------
 * Review Box
 * -------------------------------------------------------------------------- */
.vw-review-box {
  margin-bottom: 1.3em;
  padding: 10px;
  color: #fff;
  background-color: #eee; }

.vw-review-position-top-floating {
  float: left;
  width: 60%;
  margin-right: 1.3em; }

.vw-review-box-title {
  margin: 0;
  padding: 10px 15px;
  color: inherit;
  background-color: #3a3a3a; }

.vw-review-item {
  position: relative;
  margin-top: 2px; }

.vw-review-item-title {
  float: left;
  position: relative;
  z-index: 2; }

.vw-review-item-title-score {
  font-weight: bold; }

.vw-review-item-score {
  text-align: center;
  float: right; }
  .vw-review-item-score.vw-review-score-percentage {
    position: absolute;
    height: 100%;
    background-image: url(images/stripe-white.png);
    background-repeat: repeat; }

.vw-review-box-summary {
  margin-top: 2px;
  display: table;
  width: 100%;
  position: relative;
  min-height: 85px;
  border-right-color: #eee; }

.vw-review-summary, .vw-review-total-score {
  display: table-cell;
  vertical-align: middle; }

.vw-review-summary {
  border-right: 2px solid; }

.vw-review-total-score, .vw-review-item-score.vw-review-score-star {
  width: 115px;
  text-align: center; }

.vw-review-total-score.vw-review-score-percentage, .vw-review-total-score.vw-review-score-point {
  font-size: 44px;
  font-weight: bold; }
.vw-review-total-score.vw-review-score-percentage:after {
  content: '%';
  font-size: 0.5em;
  font-weight: normal; }

.vw-review-item-title, .vw-review-score-star, .vw-review-summary {
  padding: 6px 0; }

.vw-review-item-title, .vw-review-summary {
  padding-left: 15px;
  padding-right: 15px; }

.vw-review-score-star {
  line-height: 1em; }
  .vw-review-score-star img {
    max-width: 16px;
    vertical-align: middle; }
  .vw-review-score-star img + img {
    margin-left: 3px; }
  .vw-review-score-star .vw-review-score-number {
    width: auto !important; }

.vw-review-item, .vw-review-box-summary {
  background-color: #444444; }

.vw-post-tabed-tab, .vw-about-author-section .vw-author-socials a {
  background-color: #3a3a3a; }

/* -----------------------------------------------------------------------------
 * Review Editor
 * -------------------------------------------------------------------------- */
#vw_review_editor .field-review-summary, #vw_review_editor .field-review-score {
  display: none; }
#vw_review_editor .review-scores {
  margin: 15px 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #ddd; }
  #vw_review_editor .review-scores .review-score-row {
    border: 1px solid #ddd;
    background-color: #F1F1F1;
    background: -webkit-linear-gradient( bottom , #ececec, #f9f9f9);
    background: linear-gradient(to top, #ececec, #f9f9f9);
    border-radius: 2px;
    padding: 5px 10px 5px 5px;
    position: relative; }
    #vw_review_editor .review-scores .review-score-row i {
      color: #ccc; }
      #vw_review_editor .review-scores .review-score-row i:hover {
        color: #3FACD6; }
    #vw_review_editor .review-scores .review-score-row .move-icon {
      font-size: 24px;
      line-height: 1em;
      vertical-align: middle;
      margin-right: 10px;
      cursor: move; }
    #vw_review_editor .review-scores .review-score-row .delete-icon {
      font-size: 16px;
      line-height: 1em;
      position: absolute;
      top: 50%;
      right: 5px;
      cursor: pointer;
      margin-top: -0.5em; }
    #vw_review_editor .review-scores .review-score-row .review-score-label {
      font-size: 11px;
      color: #666;
      font-weight: bold;
      margin-right: 5px; }
    #vw_review_editor .review-scores .review-score-row .rwmb-text {
      width: 40%;
      margin-right: 10px; }
  #vw_review_editor .review-scores .review-score-row + .review-score-row {
    margin-top: 5px; }

/* -----------------------------------------------------------------------------
 * Mega Menu Editor
 * -------------------------------------------------------------------------- */
#menu-to-edit .vw-mega-menu-option {
  display: none; }

#menu-to-edit .menu-item-depth-0 .vw-mega-menu-option {
  display: block; }

/* -----------------------------------------------------------------------------
 * Custom Bootstrap Modal
 * -------------------------------------------------------------------------- */
.modal-open {
  overflow: hidden; }

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 15px; }

.vwsce-modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000; }

.vwsce-modal.fade .vwsce-modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

.vwsce-modal.in .vwsce-modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.vwsce-modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 10001; }

.vwsce-modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none; }

.vwsce-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  background-color: #000000; }

.vwsce-modal-backdrop.fade {
  opacity: 0; }

.vwsce-modal-backdrop.in {
  opacity: 0.5; }

.vwsce-modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px; }

.vwsce-modal-header .close {
  margin-top: -2px; }

.vwsce-modal-title {
  margin: 0;
  line-height: 1.428571429; }

.vwsce-modal-body {
  position: relative;
  padding: 20px; }

.vwsce-modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.vwsce-modal-footer:before,
.vwsce-modal-footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.vwsce-modal-footer:after {
  clear: both; }

.vwsce-modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

.vwsce-modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.vwsce-modal-footer .btn-block + .btn-block {
  margin-left: 0; }

@media screen and (min-width: 768px) {
  .vwsce-modal-dialog {
    left: 50%;
    right: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px; }

  .vwsce-modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); } }
.modal-backdrop {
  z-index: 2000; }

.vwsce-modal {
  z-index: 3000; }
