div, #swipebox-slider {
  direction: rtl; }

.flex-direction-nav a:before {
  content: '\f002'; }

.flex-direction-nav a.flex-next:before {
  content: '\f001'; }

.vw-menu-type-mega-post .menu-item-depth-0.vw-mega-menu-type-links-4-cols .menu-item-depth-2 .menu-link:before {
  content: "\e874"; }

.vw-post-navigation-next .vw-post-navigation-icon:before {
  content: '\e87c'; }

.vw-post-navigation-previous .vw-post-navigation-icon:before {
  content: '\e87d'; }
