@font-face {
  font-family: 'awesome';
  src: url('https://dl.dropboxusercontent.com/u/193640242/support/blog/awesome.eot?94650075');
  src: url('https://dl.dropboxusercontent.com/u/193640242/support/blog/awesome.eot?94650075#iefix') format('embedded-opentype'),
       url('https://dl.dropboxusercontent.com/u/193640242/support/blog/awesome.woff?94650075') format('woff'),
       url('https://dl.dropboxusercontent.com/u/193640242/support/blog/awesome.ttf?94650075') format('truetype'),
       url('https://dl.dropboxusercontent.com/u/193640242/support/blog/awesome.svg?94650075#awesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'awesome';
    src: url('../font/awesome.svg?94650075#awesome') format('svg');
  }
}
*/

 [class^="icon-awesome-"]:before, [class*=" icon-awesome-"]:before {
  font-family: "awesome";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-awesome-plus:before { content: '\e81e'; } /* '' */
.icon-awesome-minus:before { content: '\e822'; } /* '' */
.icon-awesome-left-big:before { content: '\e8a5'; } /* '' */
.icon-awesome-up-big:before { content: '\e8a7'; } /* '' */
.icon-awesome-right-big:before { content: '\e8a6'; } /* '' */
.icon-awesome-down-big:before { content: '\e8a4'; } /* '' */
.icon-awesome-home:before { content: '\e82b'; } /* '' */
.icon-awesome-pause:before { content: '\e8be'; } /* '' */
.icon-awesome-fast-fw:before { content: '\e8c3'; } /* '' */
.icon-awesome-fast-bw:before { content: '\e8c4'; } /* '' */
.icon-awesome-to-end:before { content: '\e8bf'; } /* '' */
.icon-awesome-to-start:before { content: '\e8c1'; } /* '' */
.icon-awesome-stop:before { content: '\e8bd'; } /* '' */
.icon-awesome-up-dir:before { content: '\e88d'; } /* '' */
.icon-awesome-play:before { content: '\e8ba'; } /* '' */
.icon-awesome-right-dir:before { content: '\e88f'; } /* '' */
.icon-awesome-down-dir:before { content: '\e88c'; } /* '' */
.icon-awesome-left-dir:before { content: '\e88e'; } /* '' */
.icon-awesome-cloud:before { content: '\e8d0'; } /* '' */
.icon-awesome-umbrella:before { content: '\e8d3'; } /* '' */
.icon-awesome-star:before { content: '\e807'; } /* '' */
.icon-awesome-star-empty:before { content: '\e808'; } /* '' */
.icon-awesome-check:before { content: '\e8fa'; } /* '' */
.icon-awesome-left-hand:before { content: '\e8a9'; } /* '' */
.icon-awesome-up-hand:before { content: '\e8aa'; } /* '' */
.icon-awesome-right-hand:before { content: '\e8a8'; } /* '' */
.icon-awesome-down-hand:before { content: '\e8ab'; } /* '' */
.icon-awesome-th-list:before { content: '\e816'; } /* '' */
.icon-awesome-heart-empty:before { content: '\e806'; } /* '' */
.icon-awesome-heart:before { content: '\e805'; } /* '' */
.icon-awesome-music:before { content: '\e801'; } /* '' */
.icon-awesome-th:before { content: '\e815'; } /* '' */
.icon-awesome-flag:before { content: '\e83b'; } /* '' */
.icon-awesome-cog:before { content: '\e871'; } /* '' */
.icon-awesome-attention:before { content: '\e85c'; } /* '' */
.icon-awesome-flash:before { content: '\e8d1'; } /* '' */
.icon-awesome-cog-alt:before { content: '\e872'; } /* '' */
.icon-awesome-scissors:before { content: '\e8ec'; } /* '' */
.icon-awesome-flight:before { content: '\e8d4'; } /* '' */
.icon-awesome-mail:before { content: '\e803'; } /* '' */
.icon-awesome-edit:before { content: '\e850'; } /* '' */
.icon-awesome-pencil:before { content: '\e84e'; } /* '' */
.icon-awesome-ok:before { content: '\e817'; } /* '' */
.icon-awesome-ok-circled:before { content: '\e818'; } /* '' */
.icon-awesome-cancel:before { content: '\e81b'; } /* '' */
.icon-awesome-cancel-circled:before { content: '\e81c'; } /* '' */
.icon-awesome-asterisk:before { content: '\e8fe'; } /* '' */
.icon-awesome-attention-circled:before { content: '\e85d'; } /* '' */
.icon-awesome-plus-circled:before { content: '\e81f'; } /* '' */
.icon-awesome-minus-circled:before { content: '\e823'; } /* '' */
.icon-awesome-forward:before { content: '\e848'; } /* '' */
.icon-awesome-ccw:before { content: '\e8b1'; } /* '' */
.icon-awesome-cw:before { content: '\e8b0'; } /* '' */
.icon-awesome-resize-vertical:before { content: '\e885'; } /* '' */
.icon-awesome-resize-horizontal:before { content: '\e886'; } /* '' */
.icon-awesome-eject:before { content: '\e8c5'; } /* '' */
.icon-awesome-star-half:before { content: '\e809'; } /* '' */
.icon-awesome-ok-circled2:before { content: '\e819'; } /* '' */
.icon-awesome-cancel-circled2:before { content: '\e81d'; } /* '' */
.icon-awesome-help-circled:before { content: '\e828'; } /* '' */
.icon-awesome-info-circled:before { content: '\e829'; } /* '' */
.icon-awesome-th-large:before { content: '\e814'; } /* '' */
.icon-awesome-eye:before { content: '\e835'; } /* '' */
.icon-awesome-eye-off:before { content: '\e836'; } /* '' */
.icon-awesome-tag:before { content: '\e837'; } /* '' */
.icon-awesome-tags:before { content: '\e838'; } /* '' */
.icon-awesome-camera-alt:before { content: '\e813'; } /* '' */
.icon-awesome-export:before { content: '\e84c'; } /* '' */
.icon-awesome-print:before { content: '\e851'; } /* '' */
.icon-awesome-retweet:before { content: '\e852'; } /* '' */
.icon-awesome-comment:before { content: '\e855'; } /* '' */
.icon-awesome-chat:before { content: '\e856'; } /* '' */
.icon-awesome-location:before { content: '\e85e'; } /* '' */
.icon-awesome-trash:before { content: '\e861'; } /* '' */
.icon-awesome-basket:before { content: '\e874'; } /* '' */
.icon-awesome-login:before { content: '\e877'; } /* '' */
.icon-awesome-logout:before { content: '\e878'; } /* '' */
.icon-awesome-resize-full:before { content: '\e882'; } /* '' */
.icon-awesome-resize-small:before { content: '\e884'; } /* '' */
.icon-awesome-zoom-in:before { content: '\e888'; } /* '' */
.icon-awesome-zoom-out:before { content: '\e889'; } /* '' */
.icon-awesome-down-circled2:before { content: '\e88a'; } /* '' */
.icon-awesome-up-circled2:before { content: '\e88b'; } /* '' */
.icon-awesome-down-open:before { content: '\e890'; } /* '' */
.icon-awesome-left-open:before { content: '\e891'; } /* '' */
.icon-awesome-right-open:before { content: '\e892'; } /* '' */
.icon-awesome-up-open:before { content: '\e893'; } /* '' */
.icon-awesome-arrows-cw:before { content: '\e8b2'; } /* '' */
.icon-awesome-play-circled2:before { content: '\e8bc'; } /* '' */
.icon-awesome-to-end-alt:before { content: '\e8c0'; } /* '' */
.icon-awesome-to-start-alt:before { content: '\e8c2'; } /* '' */
.icon-awesome-inbox:before { content: '\e8cd'; } /* '' */
.icon-awesome-font:before { content: '\e8d7'; } /* '' */
.icon-awesome-bold:before { content: '\e8d8'; } /* '' */
.icon-awesome-italic:before { content: '\e8d9'; } /* '' */
.icon-awesome-text-height:before { content: '\e8da'; } /* '' */
.icon-awesome-text-width:before { content: '\e8db'; } /* '' */
.icon-awesome-align-left:before { content: '\e8dc'; } /* '' */
.icon-awesome-align-center:before { content: '\e8dd'; } /* '' */
.icon-awesome-align-right:before { content: '\e8de'; } /* '' */
.icon-awesome-align-justify:before { content: '\e8df'; } /* '' */
.icon-awesome-list:before { content: '\e8e0'; } /* '' */
.icon-awesome-indent-left:before { content: '\e8e1'; } /* '' */
.icon-awesome-indent-right:before { content: '\e8e2'; } /* '' */
.icon-awesome-off:before { content: '\e8f2'; } /* '' */
.icon-awesome-road:before { content: '\e8f3'; } /* '' */
.icon-awesome-list-alt:before { content: '\e8f4'; } /* '' */
.icon-awesome-qrcode:before { content: '\e8f5'; } /* '' */
.icon-awesome-barcode:before { content: '\e8f6'; } /* '' */
.icon-awesome-ajust:before { content: '\e8f8'; } /* '' */
.icon-awesome-tint:before { content: '\e8f9'; } /* '' */
.icon-awesome-magnet:before { content: '\e901'; } /* '' */
.icon-awesome-move:before { content: '\e887'; } /* '' */
.icon-awesome-link-ext:before { content: '\e82e'; } /* '' */
.icon-awesome-check-empty:before { content: '\e8fb'; } /* '' */
.icon-awesome-bookmark-empty:before { content: '\e83a'; } /* '' */
.icon-awesome-phone-squared:before { content: '\e86f'; } /* '' */
.icon-awesome-twitter:before { content: '\e95d'; } /* '' */
.icon-awesome-facebook:before { content: '\e944'; } /* '' */
.icon-awesome-github-circled:before { content: '\e94a'; } /* '' */
.icon-awesome-rss:before { content: '\e86c'; } /* '' */
.icon-awesome-hdd:before { content: '\e907'; } /* '' */
.icon-awesome-certificate:before { content: '\e90c'; } /* '' */
.icon-awesome-left-circled:before { content: '\e8ac'; } /* '' */
.icon-awesome-right-circled:before { content: '\e8ad'; } /* '' */
.icon-awesome-up-circled:before { content: '\e8ae'; } /* '' */
.icon-awesome-down-circled:before { content: '\e8af'; } /* '' */
.icon-awesome-tasks:before { content: '\e90d'; } /* '' */
.icon-awesome-filter:before { content: '\e90e'; } /* '' */
.icon-awesome-resize-full-alt:before { content: '\e883'; } /* '' */
.icon-awesome-beaker:before { content: '\e90f'; } /* '' */
.icon-awesome-docs:before { content: '\e863'; } /* '' */
.icon-awesome-blank:before { content: '\e966'; } /* '' */
.icon-awesome-menu:before { content: '\e870'; } /* '' */
.icon-awesome-list-bullet:before { content: '\e8e3'; } /* '' */
.icon-awesome-list-numbered:before { content: '\e8e4'; } /* '' */
.icon-awesome-strike:before { content: '\e8e5'; } /* '' */
.icon-awesome-underline:before { content: '\e8e6'; } /* '' */
.icon-awesome-table:before { content: '\e8e9'; } /* '' */
.icon-awesome-magic:before { content: '\e910'; } /* '' */
.icon-awesome-pinterest-circled:before { content: '\e954'; } /* '' */
.icon-awesome-pinterest-squared:before { content: '\e955'; } /* '' */
.icon-awesome-gplus-squared:before { content: '\e94c'; } /* '' */
.icon-awesome-gplus:before { content: '\e94d'; } /* '' */
.icon-awesome-money:before { content: '\e912'; } /* '' */
.icon-awesome-columns:before { content: '\e8ea'; } /* '' */
.icon-awesome-sort:before { content: '\e91b'; } /* '' */
.icon-awesome-sort-down:before { content: '\e91c'; } /* '' */
.icon-awesome-sort-up:before { content: '\e91d'; } /* '' */
.icon-awesome-mail-alt:before { content: '\e804'; } /* '' */
.icon-awesome-linkedin:before { content: '\e952'; } /* '' */
.icon-awesome-gauge:before { content: '\e925'; } /* '' */
.icon-awesome-comment-empty:before { content: '\e857'; } /* '' */
.icon-awesome-chat-empty:before { content: '\e858'; } /* '' */
.icon-awesome-sitemap:before { content: '\e926'; } /* '' */
.icon-awesome-paste:before { content: '\e8ed'; } /* '' */
.icon-awesome-lightbulb:before { content: '\e880'; } /* '' */
.icon-awesome-exchange:before { content: '\e8b6'; } /* '' */
.icon-awesome-download-cloud:before { content: '\e844'; } /* '' */
.icon-awesome-upload-cloud:before { content: '\e845'; } /* '' */
.icon-awesome-user-md:before { content: '\e92b'; } /* '' */
.icon-awesome-stethoscope:before { content: '\e92c'; } /* '' */
.icon-awesome-suitcase:before { content: '\e8ef'; } /* '' */
.icon-awesome-bell-alt:before { content: '\e85a'; } /* '' */
.icon-awesome-coffee:before { content: '\e928'; } /* '' */
.icon-awesome-food:before { content: '\e929'; } /* '' */
.icon-awesome-doc-text:before { content: '\e864'; } /* '' */
.icon-awesome-building:before { content: '\e931'; } /* '' */
.icon-awesome-hospital:before { content: '\e930'; } /* '' */
.icon-awesome-ambulance:before { content: '\e92d'; } /* '' */
.icon-awesome-medkit:before { content: '\e92e'; } /* '' */
.icon-awesome-fighter-jet:before { content: '\e8d5'; } /* '' */
.icon-awesome-beer:before { content: '\e92a'; } /* '' */
.icon-awesome-h-sigh:before { content: '\e92f'; } /* '' */
.icon-awesome-plus-squared:before { content: '\e820'; } /* '' */
.icon-awesome-angle-double-left:before { content: '\e89c'; } /* '' */
.icon-awesome-angle-double-right:before { content: '\e89d'; } /* '' */
.icon-awesome-angle-double-up:before { content: '\e89e'; } /* '' */
.icon-awesome-angle-double-down:before { content: '\e89f'; } /* '' */
.icon-awesome-angle-left:before { content: '\e894'; } /* '' */
.icon-awesome-angle-right:before { content: '\e895'; } /* '' */
.icon-awesome-angle-up:before { content: '\e896'; } /* '' */
.icon-awesome-angle-down:before { content: '\e897'; } /* '' */
.icon-awesome-desktop:before { content: '\e8c9'; } /* '' */
.icon-awesome-laptop:before { content: '\e8ca'; } /* '' */
.icon-awesome-tablet:before { content: '\e8cb'; } /* '' */
.icon-awesome-mobile:before { content: '\e8cc'; } /* '' */
.icon-awesome-circle-empty:before { content: '\e8fd'; } /* '' */
.icon-awesome-quote-left:before { content: '\e849'; } /* '' */
.icon-awesome-quote-right:before { content: '\e84a'; } /* '' */
.icon-awesome-spinner:before { content: '\e927'; } /* '' */
.icon-awesome-circle:before { content: '\e8fc'; } /* '' */
.icon-awesome-reply:before { content: '\e846'; } /* '' */
.icon-awesome-github:before { content: '\e948'; } /* '' */
.icon-awesome-folder-empty:before { content: '\e869'; } /* '' */
.icon-awesome-folder-open-empty:before { content: '\e86a'; } /* '' */
.icon-awesome-plus-squared-small:before { content: '\e821'; } /* '' */
.icon-awesome-minus-squared-small:before { content: '\e826'; } /* '' */
.icon-awesome-smile:before { content: '\e932'; } /* '' */
.icon-awesome-frown:before { content: '\e933'; } /* '' */
.icon-awesome-meh:before { content: '\e934'; } /* '' */
.icon-awesome-gamepad:before { content: '\e854'; } /* '' */
.icon-awesome-keyboard:before { content: '\e853'; } /* '' */
.icon-awesome-flag-empty:before { content: '\e83c'; } /* '' */
.icon-awesome-flag-checkered:before { content: '\e83d'; } /* '' */
.icon-awesome-terminal:before { content: '\e936'; } /* '' */
.icon-awesome-code:before { content: '\e84b'; } /* '' */
.icon-awesome-reply-all:before { content: '\e847'; } /* '' */
.icon-awesome-star-half-alt:before { content: '\e80a'; } /* '' */
.icon-awesome-direction:before { content: '\e85f'; } /* '' */
.icon-awesome-crop:before { content: '\e8eb'; } /* '' */
.icon-awesome-fork:before { content: '\e909'; } /* '' */
.icon-awesome-unlink:before { content: '\e82d'; } /* '' */
.icon-awesome-help:before { content: '\e827'; } /* '' */
.icon-awesome-info:before { content: '\e82a'; } /* '' */
.icon-awesome-attention-alt:before { content: '\e85b'; } /* '' */
.icon-awesome-superscript:before { content: '\e8e7'; } /* '' */
.icon-awesome-subscript:before { content: '\e8e8'; } /* '' */
.icon-awesome-eraser:before { content: '\e937'; } /* '' */
.icon-awesome-puzzle:before { content: '\e938'; } /* '' */
.icon-awesome-mic:before { content: '\e879'; } /* '' */
.icon-awesome-mute:before { content: '\e87a'; } /* '' */
.icon-awesome-shield:before { content: '\e939'; } /* '' */
.icon-awesome-calendar-empty:before { content: '\e876'; } /* '' */
.icon-awesome-extinguisher:before { content: '\e93a'; } /* '' */
.icon-awesome-rocket:before { content: '\e90a'; } /* '' */
.icon-awesome-maxcdn:before { content: '\e953'; } /* '' */
.icon-awesome-angle-circled-left:before { content: '\e898'; } /* '' */
.icon-awesome-angle-circled-right:before { content: '\e899'; } /* '' */
.icon-awesome-angle-circled-up:before { content: '\e89a'; } /* '' */
.icon-awesome-angle-circled-down:before { content: '\e89b'; } /* '' */
.icon-awesome-html5:before { content: '\e94e'; } /* '' */
.icon-awesome-css3:before { content: '\e941'; } /* '' */
.icon-awesome-anchor:before { content: '\e935'; } /* '' */
.icon-awesome-lock-open-alt:before { content: '\e833'; } /* '' */
.icon-awesome-bullseye:before { content: '\e93b'; } /* '' */
.icon-awesome-ellipsis:before { content: '\e8f0'; } /* '' */
.icon-awesome-ellipsis-vert:before { content: '\e8f1'; } /* '' */
.icon-awesome-rss-squared:before { content: '\e86d'; } /* '' */
.icon-awesome-play-circled:before { content: '\e8bb'; } /* '' */
.icon-awesome-ticket:before { content: '\e903'; } /* '' */
.icon-awesome-minus-squared:before { content: '\e824'; } /* '' */
.icon-awesome-minus-squared-alt:before { content: '\e825'; } /* '' */
.icon-awesome-level-up:before { content: '\e8b3'; } /* '' */
.icon-awesome-level-down:before { content: '\e8b4'; } /* '' */
.icon-awesome-ok-squared:before { content: '\e81a'; } /* '' */
.icon-awesome-pencil-squared:before { content: '\e84f'; } /* '' */
.icon-awesome-link-ext-alt:before { content: '\e82f'; } /* '' */
.icon-awesome-export-alt:before { content: '\e84d'; } /* '' */
.icon-awesome-compass:before { content: '\e860'; } /* '' */
.icon-awesome-collapse:before { content: '\e8b7'; } /* '' */
.icon-awesome-collapse-top:before { content: '\e8b8'; } /* '' */
.icon-awesome-expand:before { content: '\e8b9'; } /* '' */
.icon-awesome-euro:before { content: '\e913'; } /* '' */
.icon-awesome-pound:before { content: '\e914'; } /* '' */
.icon-awesome-dollar:before { content: '\e915'; } /* '' */
.icon-awesome-rupee:before { content: '\e916'; } /* '' */
.icon-awesome-yen:before { content: '\e917'; } /* '' */
.icon-awesome-renminbi:before { content: '\e918'; } /* '' */
.icon-awesome-won:before { content: '\e919'; } /* '' */
.icon-awesome-bitcoin:before { content: '\e91a'; } /* '' */
.icon-awesome-doc-inv:before { content: '\e865'; } /* '' */
.icon-awesome-doc-text-inv:before { content: '\e866'; } /* '' */
.icon-awesome-sort-name-up:before { content: '\e920'; } /* '' */
.icon-awesome-sort-name-down:before { content: '\e921'; } /* '' */
.icon-awesome-sort-alt-up:before { content: '\e91e'; } /* '' */
.icon-awesome-sort-alt-down:before { content: '\e91f'; } /* '' */
.icon-awesome-sort-number-up:before { content: '\e922'; } /* '' */
.icon-awesome-sort-number-down:before { content: '\e923'; } /* '' */
.icon-awesome-thumbs-up-alt:before { content: '\e840'; } /* '' */
.icon-awesome-thumbs-down-alt:before { content: '\e841'; } /* '' */
.icon-awesome-youtube-squared:before { content: '\e964'; } /* '' */
.icon-awesome-youtube:before { content: '\e963'; } /* '' */
.icon-awesome-xing:before { content: '\e961'; } /* '' */
.icon-awesome-xing-squared:before { content: '\e962'; } /* '' */
.icon-awesome-youtube-play:before { content: '\e965'; } /* '' */
.icon-awesome-dropbox:before { content: '\e943'; } /* '' */
.icon-awesome-stackoverflow:before { content: '\e958'; } /* '' */
.icon-awesome-instagramm:before { content: '\e94f'; } /* '' */
.icon-awesome-flickr:before { content: '\e946'; } /* '' */
.icon-awesome-adn:before { content: '\e93c'; } /* '' */
.icon-awesome-bitbucket:before { content: '\e93f'; } /* '' */
.icon-awesome-bitbucket-squared:before { content: '\e940'; } /* '' */
.icon-awesome-tumblr:before { content: '\e95a'; } /* '' */
.icon-awesome-tumblr-squared:before { content: '\e95b'; } /* '' */
.icon-awesome-down:before { content: '\e8a0'; } /* '' */
.icon-awesome-up:before { content: '\e8a3'; } /* '' */
.icon-awesome-right:before { content: '\e8a2'; } /* '' */
.icon-awesome-left:before { content: '\e8a1'; } /* '' */
.icon-awesome-apple:before { content: '\e93e'; } /* '' */
.icon-awesome-windows:before { content: '\e960'; } /* '' */
.icon-awesome-android:before { content: '\e93d'; } /* '' */
.icon-awesome-linux:before { content: '\e951'; } /* '' */
.icon-awesome-dribbble:before { content: '\e942'; } /* '' */
.icon-awesome-skype:before { content: '\e957'; } /* '' */
.icon-awesome-foursquare:before { content: '\e947'; } /* '' */
.icon-awesome-trello:before { content: '\e959'; } /* '' */
.icon-awesome-female:before { content: '\e80e'; } /* '' */
.icon-awesome-male:before { content: '\e80d'; } /* '' */
.icon-awesome-gittip:before { content: '\e94b'; } /* '' */
.icon-awesome-sun:before { content: '\e8cf'; } /* '' */
.icon-awesome-moon:before { content: '\e8d2'; } /* '' */
.icon-awesome-box:before { content: '\e86b'; } /* '' */
.icon-awesome-bug:before { content: '\e90b'; } /* '' */
.icon-awesome-vkontakte:before { content: '\e95e'; } /* '' */
.icon-awesome-weibo:before { content: '\e95f'; } /* '' */
.icon-awesome-renren:before { content: '\e956'; } /* '' */
.icon-awesome-github-squared:before { content: '\e949'; } /* '' */
.icon-awesome-twitter-squared:before { content: '\e95c'; } /* '' */
.icon-awesome-facebook-squared:before { content: '\e945'; } /* '' */
.icon-awesome-linkedin-squared:before { content: '\e950'; } /* '' */
.icon-awesome-picture:before { content: '\e811'; } /* '' */
.icon-awesome-globe:before { content: '\e8ce'; } /* '' */
.icon-awesome-leaf:before { content: '\e8d6'; } /* '' */
.icon-awesome-lemon:before { content: '\e967'; } /* '' */
.icon-awesome-glass:before { content: '\e800'; } /* '' */
.icon-awesome-gift:before { content: '\e8ff'; } /* '' */
.icon-awesome-videocam:before { content: '\e810'; } /* '' */
.icon-awesome-headphones:before { content: '\e87e'; } /* '' */
.icon-awesome-video:before { content: '\e80f'; } /* '' */
.icon-awesome-target:before { content: '\e8c6'; } /* '' */
.icon-awesome-award:before { content: '\e8c8'; } /* '' */
.icon-awesome-thumbs-up:before { content: '\e83e'; } /* '' */
.icon-awesome-thumbs-down:before { content: '\e83f'; } /* '' */
.icon-awesome-user:before { content: '\e80b'; } /* '' */
.icon-awesome-users:before { content: '\e80c'; } /* '' */
.icon-awesome-credit-card:before { content: '\e904'; } /* '' */
.icon-awesome-briefcase:before { content: '\e8ee'; } /* '' */
.icon-awesome-floppy:before { content: '\e905'; } /* '' */
.icon-awesome-folder:before { content: '\e867'; } /* '' */
.icon-awesome-folder-open:before { content: '\e868'; } /* '' */
.icon-awesome-doc:before { content: '\e862'; } /* '' */
.icon-awesome-calendar:before { content: '\e875'; } /* '' */
.icon-awesome-chart-bar:before { content: '\e902'; } /* '' */
.icon-awesome-pin:before { content: '\e834'; } /* '' */
.icon-awesome-attach:before { content: '\e830'; } /* '' */
.icon-awesome-book:before { content: '\e8f7'; } /* '' */
.icon-awesome-phone:before { content: '\e86e'; } /* '' */
.icon-awesome-megaphone:before { content: '\e906'; } /* '' */
.icon-awesome-upload:before { content: '\e843'; } /* '' */
.icon-awesome-download:before { content: '\e842'; } /* '' */
.icon-awesome-signal:before { content: '\e8c7'; } /* '' */
.icon-awesome-camera:before { content: '\e812'; } /* '' */
.icon-awesome-shuffle:before { content: '\e8b5'; } /* '' */
.icon-awesome-volume-off:before { content: '\e87b'; } /* '' */
.icon-awesome-volume-down:before { content: '\e87c'; } /* '' */
.icon-awesome-volume-up:before { content: '\e87d'; } /* '' */
.icon-awesome-search:before { content: '\e802'; } /* '' */
.icon-awesome-key:before { content: '\e908'; } /* '' */
.icon-awesome-lock:before { content: '\e831'; } /* '' */
.icon-awesome-lock-open:before { content: '\e832'; } /* '' */
.icon-awesome-bell:before { content: '\e859'; } /* '' */
.icon-awesome-bookmark:before { content: '\e839'; } /* '' */
.icon-awesome-link:before { content: '\e82c'; } /* '' */
.icon-awesome-fire:before { content: '\e900'; } /* '' */
.icon-awesome-wrench:before { content: '\e873'; } /* '' */
.icon-awesome-hammer:before { content: '\e924'; } /* '' */
.icon-awesome-clock:before { content: '\e87f'; } /* '' */
.icon-awesome-truck:before { content: '\e911'; } /* '' */
.icon-awesome-block:before { content: '\e881'; } /* '' */